
// Konstante fuer das Design
 $farbfamilie: 'nat';
 
// Define breakpoints
$breakSM: 480px;
$breakMD: 767px;
$breakLG: 979px;

// Define fonts
$fontStack: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackSerifs: Georgia, serif;

// Define text colors
$colorText:		#444;
$colorTextLight:	#797676;

// Define notice colors
$colorNotice: 		#a71c18;


// Define colors of each faculty
$colorPhilFak:	    #A36B0D;
$colorRwFak:	    #8d1429;
$colorMedFak:	    #0381A2;
$colorNatFak:	    #048767;
$colorTechFak:	    #6E7881;
$colorZUV:	    #003366;
$colorDefault:	    #003366;

$colorStandardHellgrau:	    #e9edf2;  
    // FAU: colorlightest:
    // desaturate(lighten($colorZUV, 73%), 75%);
$colorContentBorders:	    #dfe6ec;  
    // FAU: colorlight
    // desaturate(lighten($colorZUV, 69%), 75%);
$colorContentRegions:	    #f5f7f9;
    // FAU: lighten($colorZUV, 4%);

// Define defaults and variables
    $colorPrimary: $colorZUV;	// darken($colorPhilFak, 10%);
    $colorPrimaryContrast: #fff;
    $PalettonHellste:	#e9edf2;
    $PalettonHeller:	#dfe6ec;
    $PalettonDunkler:	#24598f;
    $PalettonDunkelste:	#1f4c7a;
    $siegelurl: '../img/siegel-zuv.png';  
 
 @if $farbfamilie == 'med' {
    $colorPrimary: $colorMedFak;
    $PalettonHellste:	#35C0DA;
    $PalettonHeller:	#08C0E7;
    $PalettonDunkler:	#026480;
    $PalettonDunkelste:	#014e63;
    $siegelurl: '../img/siegel-medfak.png';

 } @else if $farbfamilie == 'phil' {
    $colorPrimary: $colorPhilFak;
    $PalettonHellste:	#dea74b;
    $PalettonHeller:	#cfab6e;
    $PalettonDunkler:	#805000;
    $PalettonDunkelste:	#553500;
    $siegelurl: '../img/siegel-philfak.png';   
 }  @else if $farbfamilie == 'nat' {
    $colorPrimary: $colorNatFak;
    $PalettonHellste:	#39c5a5;
    $PalettonHeller:	#19c79e;
    $PalettonDunkler:	#006e53;
    $PalettonDunkelste:	#00533f;
    $siegelurl: '../img/siegel-natfak.png';     
 }  @else if $farbfamilie == 'rw' {
    $colorPrimary: $colorRwFak;    
    $PalettonHellste:	#c9a8af;
    $PalettonHeller:	#bd7d8b;
    $PalettonDunkler:	#690013;
    $PalettonDunkelste:	#42000c;
    $siegelurl: '../img/siegel-rwfak.png';     
 }  @else if $farbfamilie == 'tech' {
    $colorPrimary: $colorTechFak;    
    $PalettonHellste:	#bfc2c5;
    $PalettonHeller:	#8e949a;
    $PalettonDunkler:	#53606b;
    $PalettonDunkelste:	#3b4956;
    $siegelurl: '../img/siegel-techfak.png';     
 } @else {
    $colorPrimary: $colorZUV;
    $PalettonHellste:	#e9edf2;
    $PalettonHeller:	#dfe6ec;
    $PalettonDunkler:	#24598f;
    $PalettonDunkelste:	#1f4c7a;
    $siegelurl: '../img/siegel-zuv.png';     
 }
    
    

// $colorHover: 	desaturate(lighten($colorPrimary, 10%), 40%);
// $colorLight:	desaturate(lighten($colorPrimary, 69%), 75%);
// $colorLightest:	desaturate(lighten($colorPrimary, 73%), 75%);



$colorHover:		    $PalettonDunkelste;
$colorLight:		    $PalettonHeller;
$colorLightContrast:	    #fff;
$colorLightest:		    $PalettonHellste;
$colorLightestContrast:	    $PalettonDunkelste;
$colorPrimaryHero:	    $colorPrimary;




$colorSubNavCurrent:		#fff;
$colorSubNavCurrentBackground:  $PalettonDunkler;
$colorSubNavCurrentHover:	#fff;
$colorSubNavCurrentHoverBackground: $colorHover;
$colorSubNav:			$PalettonDunkelste;
$colorSubNavBackground:		$colorLightest;
$colorSubNavBackgroundHover:	darken($colorSubNavBackground, 3%);
$colorMainMenu:			#fff;


$colorButton:			$PalettonDunkelste;
$colorButtonBackground:		$colorLightest;
$colorButtonBackgroundHover:	darken($colorButtonBackground, 3%);

$colorSearchPlaceholder:        #111;
$colorSearchInput:		#000;
$colorSearchInputBackground:	$colorLightest;
$colorSearchInputBackgroundFocus:  #fff;

// Meta Menu
$colorMeta:			$colorDefault;
// Define Background-Color for Meta Menu at top
$colorMetaBackground:		$colorStandardHellgrau;
$colorMetaFAUHomeBackground:	desaturate(darken($colorStandardHellgrau, 10%), 90%); // #d0d3d8;
$colorMetaHover:		desaturate(lighten($colorDefault, 10%), 40%);
$colorMetaLight:		desaturate(lighten($colorDefault, 69%), 75%);
$colorMetaLightest:		desaturate(lighten($colorDefault, 73%), 75%);

$colorPasspartoutBackground:	$colorStandardHellgrau;

// Social Bar Startseite
$colorSocial:			$colorDefault;
$colorSocialBackground:		$colorMetaBackground;


